<div class="wrapper">
  <div class="section-home">
    <div class="header-graficas">
      <app-navbar></app-navbar>
    </div>
    <div class="body-home">
      <div class="row mt-5 mb-5">
        <div class="col-12">
          <span class="title-perfil">Análisis de datos del sistema</span>
        </div>
      </div>
      <div class="container">
        <div class="row mt-3 mb-5" style="text-align: center;">
          <div class="col-12">
            <div class="alert alert-primary" role="alert">
              <span class="title-table">Análisis de eventos académicos</span>
            </div>
          </div>
        </div>
        <!-- Home para la sección de gráficas -->
        <div class="row w-100" style="text-align: center;">
          <div class="col-12">
            <div class="row">
              <div class="col-6 graph">
                <canvas #lineChart
                  baseChart
                  [type]="'line'"
                  [data]="lineChartData"
                  [options]="lineChartOption"
                  [plugins]="chartPlugins">
                </canvas>
              </div>
              <div class="col-6 graph">
                <canvas #barChart
                  baseChart
                  [type]="'bar'"
                  [data]="barChartData"
                  [options]="barChartOption"
                  [plugins]="chartPlugins">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 mb-5" style="text-align: center;">
          <div class="col-12">
            <div class="alert alert-primary" role="alert">
              <span class="title-table">Análisis de usuarios</span>
            </div>
          </div>
        </div>
        <div class="row w-100 mt-5 mb-5" style="text-align: center;">
          <!-- Gráfica de pastel -->
          <div class="col-6 graph">
            <canvas #pieChart
              baseChart
              [type]="'pie'"
              [data]="pieChartData"
              [options]="pieChartOption"
              [plugins]="chartPlugins">
            </canvas>
          </div>
          <!-- Gráfica de Dona -->
          <div class="col-6 graph">
            <canvas #doughnutChart
              baseChart
              [type]="'doughnut'"
              [data]="doughnutChartData"
              [options]="doughnutChartOption"
              [plugins]="chartPlugins">
            </canvas>
          </div>
        </div>

        <!-- Mostrar números en formato de tarjetas -->
        <div class="row mt-3 mb-5">
          <div class="col-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Administradores</h5>
                <p class="card-text display-4">{{total_user.total_administradores}}</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Maestros</h5>
                <p class="card-text display-4">{{total_user.total_maestros}}</p>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Alumnos</h5>
                <p class="card-text display-4">{{total_user.total_alumnos}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
